body {
    margin: 0%;
    font-family: 'Rubik', sans-serif;
}



body::-webkit-scrollbar {
  width: 1em;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #F1F1F1;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2d3b55;    /* color of the scroll thumb */
  border: 0.1em solid #1066A8;
}



.loginForm {
    width: 500px;
    background-color: white;
    padding: 0 2% 2% 2%;
    border: 5px solid black;
    margin: 6% auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    font-family: 'Rubik', sans-serif;
}

#accedi {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

.content {
    padding: 35px;
    text-align: center;
}

.input-field {
    padding: 12px 5px;
    font-family: 'Rubik', sans-serif;
}

.input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}

.input-field input::-moz-placeholder {
    text-transform: uppercase;
}

.input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}

.input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}

.input-field input::placeholder {
    text-transform: uppercase;
}

.input-field input:focus {
    border-color: #222;
}

a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.action a {
	width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    text-align: center;
}

.action a:hover {
    background: #d8d8d8;
    color: #777;
}

.action button{
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.action button:hover {
    background: #d8d8d8;
}

.action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.action button:nth-child(2):hover {
    background: #3c4d6d;
}

#logo {
    width: 200px;
    height:95px;
    display: block;
    margin: 0 auto;
    padding: 2%;
}

header {
    background-color: #2d3b55;
    position:sticky;
    top:0px;
    z-index:1061;
}

.mainProduct li {
    display: inline;
    margin: 0 6%;
}

.mainProduct {
    display:flex;
    justify-content:center;
    border:2px solid #2d3b55;
	-webkit-box-shadow: 5px 5px 15px 5px #016170, -9px 5px 15px 5px #2D3B55, -7px -5px 15px 5px #009393, 
						12px -5px 15px 5px #016170, 12px 10px 15px 7px #2D3B55, -10px 10px 15px 7px #009393, 
						-10px -7px 27px 1px #016170, 8px 6px 25px 12px #2D3B55; 
	box-shadow: 5px 5px 15px 5px #016170, -9px 5px 15px 5px #2D3B55, -7px -5px 15px 5px #009393, 
				12px -5px 15px 5px #016170, 12px 10px 15px 7px #2D3B55, -10px 10px 15px 7px #009393, 
				-10px -7px 27px 1px #016170, 8px 6px 25px 12px #2D3B55;
	
}

.categoria {
    padding: 0 10%;
    position: relative;
    margin: 5%;
}

.categoria h3 {
	margin-bottom:1em;
}

.topProduct{
    justify-content: center;
    z-index: 1;
}

.listProdHome {
    width: 19%;
    vertical-align: top;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin:4% 1%;
    text-align:center;
}

.listProdHome ul {
	margin:0;
	padding:0;
}

.listProdHome a {
	color: #2d3b55;
}

.listProdHome a:hover{
    text-decoration:none;
    color: #2d3b55;
}

.prodotto {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 2% 2%;
    margin: 0 5px;
    width: 18%;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    vertical-align: top;
    color:#2d3b55;
}

.prodotto a{
	color: #2d3b55;
	text-decoration: none;
}
.prodotto:hover, .prodottoHome:hover {
    background-color: #f6f3f3;
    transition: 0.5s;
    text-decoration:none;
    transform: scale(1.01);
    -webkit-box-shadow: 3px 6px 14px -2px rgba(45,59,85,0.82);
	-moz-box-shadow: 3px 6px 14px -2px rgba(45,59,85,0.82);
	box-shadow: 3px 6px 14px -2px rgba(45,59,85,0.82);
}

.prodotto a:hover {
    color: #2d3b55;;
}

.productName {
	overflow:hidden;
	white-space:no-wrap;
	height:50px;
	text-overflow:ellipsis;
}

.prodottoHome {
    display: inline-block;
    text-align: center;
    vertical-align:top;
    padding: 2% 2%;
    margin: 0 5px;
    width: 100%;
}

.titoloCatalogo {
    margin: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 200%;
}

.form-popup {
  	display: none;
  	position: fixed;
  	top: 25%;
  	right: 25%;
  	z-index: 1030;
  	width: 50%;
  	-webkit-box-shadow: 2px 2px 8px 2px #000000; 
  	box-shadow: 2px 2px 8px 2px #000000;
}

.form-popup h1{
	font-weight: bold;
	padding-bottom: 3%;
	text-align: center;
}

.form-container {
  width: auto;
  max-width: 100%;
  padding: 4% 7%;
  background-color: white;
  border: 4px solid black;
}

.form-container textarea{
  resize: none;
  width: 100%;
  padding: 2%;
  margin: 1% 0 1% 0;
  border: none;
  height: 10%;
  background: #f1f1f1;
}

.prezzoQuantita{
	display: flex;
	
}

.form-container .selectCategorie select{
	width: 100%;
}

.form-container #numPagine{
	width: 100%;
  	padding: 7%;
  	margin: 10% 0 0 0;
  	border: none;
  	background: #f1f1f1;
}

.form-container #numPagine:focus {
  background-color: #ddd;
  outline: none;
}

.form-container select{
  padding: 2%;
  margin: 3% 0 5% 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text], .form-container input[type=password], .form-container .prezzoQuantita input[type=number], #dimensioni, #numPagine{
  width: 100%;
  padding: 2%;
  margin: 3% 0 3% 0;
  border: none;
  background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container select:focus, .form-container input[type=number]:focus, #dimensioni:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	background-color: #2d3b55;
  	color: white;
  	padding: 1% 2.4%;
  	border: none;
  	cursor: pointer;
  	width: 100%;
  	margin-bottom:1.3%;
  	opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 0.9;
  transition: 0.2s;
  color:white;
}

.catButton{
	margin-left:60%; 
	width:20%;  
	float:right;
}

.open-button {
  background-color: #2d3b55;
  color: white;
  padding: 3.5% 1%;
  margin-right: 4%;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  float:right;
  width: 100%;
}

.intestazione {
	font-weight: bold;
	margin: 5% 0 2% 2%;
	text-transform: uppercase;
	font-size: 150%;
}

.sottointestazione {
	margin: 0 0 0 5%;
	font-size: 140%;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color: #2d3b55;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

#carrello{
	display:flex;
	width:100%;
}

.controlliCarrello{
	position:sticky;
	top:10%;
}

.prodottoCarrello {
	display:flex;
    text-align: center;
    padding: 2% 2%;
    margin: 0 2%;
    border-bottom: 1px solid black;
    align-items:center;
}

.prodottoCarrello > div {
  margin: 3%;
  text-align: center;
  font-size: 1em;
  width: 20%;
}

.prodottoCarrello input[type=number]
{
	padding: 5%;	
    width: 40%; 
}

.prodottoCarrello:hover {
    background-color: #f6f3f3;
    transition: 0.5s;
}

.imgCart{
	width:50%;
}

.prodTitolo, .prodPrezzo, .prodLabel {
	font-size:1.3em;
	margin:0;
}

.listProdCarrello {
	 width: 60%;
     vertical-align: top;
     float: left;
     margin:2% 5%;
}

.controlliCarrello {
	width: 20%;
	height:20%;
	background-color: #e8e7e6;
	margin:7% 5%;
	padding: 1% 3%;
	border-radius: 10px;
	font-size: 1em;
}

.divProdIntero{
	display:flex; 
	width:100%; 
	align-items:center;
}

.imgProdotto {
	 width:35%; 
	 display:flex;
	 margin-top:5%;
}

.immagineProd{
	width:50%; 
	margin:auto;
}

.caratteristicheProd {
	display:block;
	width:70%;
	margin:5%;
}

.caratteristicheProd div {
	margin:1%;
	display:flex;
}

.caratTitolo{
	font-weight:bold; 
	font-size:2em;
}

.caratCateg, .caratPrezzo {
	font-size:1.5em;
}

.caratDesc {
	font-size:1em;
}

.aggiungiCarrello {
	width:50%;
	margin:auto;
	padding:0 5%;
}

.labelRecensione{
	font-size:110%; 
	padding-top:1%;
}

.recensioneLabelStars{
	display:flex;
}

.cartButton {
	border-radius:5px;
	background-color: #2d3b55;
	color: white;	
	border: none;
	padding:2%;
	margin:0 1%;
}

.cartButton:hover {
	transition:0.2s;
	background-color: #2d3b77;	
}

#quantita {
	padding:1%;
	margin:3px solid black;
}

#quantita:focus {
	background-color:#ddd;
}

.titoloCarrello {
	border-bottom:1px solid black;
	font-weight:bold;
	font-size:1.5em;
}

.btnCheckout {
	border-radius:2em;
	width: 100%;
	color:white;
	background-color: #2d3b55;
	border: 1px solid #2d3b55;
	padding:2%;
	margin: 1% 3% 3% 3%;
}

.btnCheckout:hover {
	background-color: #2d3b88;
	transition:0.3s;
}

.svuotaCarrello {
	text-decoration: none;
	border: 1px solid #2d3b55;
	border-radius: 2em;
	padding:1%;
	font-size: 0.7em;
	margin:1%;
	color:white;
	background-color: #2d3b55;
	font-weight: normal;
	text-align:center;
	width: 100%;
	padding: 10px;
    margin: 2px;
}

.svuotaCarrello:hover {
	color:white;
	background-color:#2d3b88;
	transition:0.3s;
	cursor: pointer;
}

.piu {
	border: 1px solid #2d3b55;
	border-radius:0.5em;
	background-color: #2d3b55;
	color: white;
	font-weight: bold;
	width:60%;
	padding:2% 3%;
	font-size:90%;
}

.piu:hover {
	background-color: #2d3b88;
	transition:0.3s;
	cursor:pointer;
}

.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

.rimuoviProdottoCarrello {	
	border: none;
	background-color: rgba(255,255,255,0);
}

.catalogoBtn{
	list-style-type: none;
    padding: 16px;
    margin: 2px;
    border: none;
    overflow: hidden;
    font-family: Helvetica;
    font-weight: bold;
    background-color:rgba(255,255,255,0);
    
    display: inline-block;
    position: relative;
    color: white;
    text-align: center;
    text-decoration: none;
   
}

.catalogoBtn:hover {
    background-color: white;
    color: rgba(45,59,85);
    transition: background-color 0.5s;
    border-radius: 5px;
}

.custom-select {
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.quickAggiungi {
	border: 1px solid #2d3b55;
	border-radius:0.5em;
	background-color: #2d3b55;
	color: white;
	font-weight: bold;
	width:70%;
	padding:2% 3%;
	font-size:90%;
}

.quickAggiungi:hover {
	background-color: #2d3b88;
	transition:0.3s;
	cursor:pointer;
}

.dropdownMenu li{
	display:none;
	list-style-type:none;
}

.dropdownMenu:hover li{
	display:list-item;
}

.star {
  color: #ff9800;
  background-color:unset;
  border:none;
  font-size:1.5em;
}

.starP{
	color: #ff9800;
	font-size:1.5em;
}

.starPUtente{
	color: #ff9800;
	font-size:1.5em;
}

.star:hover {
  cursor:pointer;
}

.star_rating {
  user-select:none;
  align-items:center;
}

.star_ratingP{
	height:50%;
	margin: -0.7% 2%;
	display: flex;
}

.inviaRecensione, #inviaRecensioneAggiornata, #modificaRecensioneBtn {
	background-color: #2d3b55;
	color: white;
	padding:0.5em 1em;
	border-radius:0.3em;
	margin:10px 0;
}

.inviaRecensione:hover{
	background-color: #3a4e70;
}

.headerRecensione{
	display: flex;
}

.nomeUtenteContainer{
	padding-top: 1%;
}

.recensioniProdotto {
  width:60%;
  margin:5% 30% 5% 10%;
  padding:1% 2%;
  background-color: #e6f5f7;
  border: 1px solid black;
  border-radius: .5em;
  -webkit-box-shadow: -4px 5px 15px 2px #000000; 
  box-shadow: -4px 5px 15px 2px #000000;
}

.recensioneProdottoUtente{
  width:100%;
  margin:2% 30% 2% 0%;
  padding:1% 2%;
  background-color: #e6f5f7;
  border: 1px solid black;
  border-radius: .5em;
  -webkit-box-shadow: -4px 5px 15px 2px #000000; 
  box-shadow: -4px 5px 15px 2px #000000;
}

.textareaModify {
	width:100%;
}

.areaUtente {
  margin: 1% 15%;
  padding:2%;
}

.nickSX, .pwSX{
	display:flex;
	width:50%;
	padding:2%;
}

.nickDX, .pwDX{
	width:50%;
}

.nicknameArea, .passwordArea{
	display:flex;
	width:80%;
	margin:0 10%;
}

.datiPersonali p {
	font-size: 1em;
}

.deleteProd {
	background-color:unset;
	border:1px solid #2d3b55;
	border-radius:50%;
	width:25px;
	height:25px;
}

.deleteProd:hover {
	color:white;
	background-color:#2d3b55;
	transition:0.3s;
}

.orderArea {
	display:block;
}

#ordersContainer {
	width:100%;
	display:flex;
	border:2px solid #2d3b55;
	border-radius:1em;
	-webkit-box-shadow: -4px 5px 15px 2px #000000; 
	box-shadow: -4px 5px 15px 2px #000000;
	background-color:#ededed;
}

.productArea{
	display:flex;
}

.imgArea {
	width:25%;
}

.infoArea {
	width:75%;
}

.nameArea, .dateArea {
	width:70%;
	padding:2%;
}

.priceArea, .checkArea {
	width:30%;
	padding:2%;
}


.loginError{
	text-align: center;
	color: red;	
}

.logoutButton{
	background-color:unset;
	border: none;
	display: inline-block;
    position: relative;
    color: white;
    text-align: center;
    padding: 16px;
    
    margin: 2px 2px 2px 2px;
    text-decoration: none;
}

.logoutButton:hover{
	 background-color: white;
     color: rgba(45,59,85);
     transition: background-color 0.5s;
     border-radius: 5px;
}

#popupAggContainer {
    width: auto;
    height: 10%;
    justify-content:center;
    align-items:center;
    background-color: hsl(0, 0%, 95%);
    padding: 0 20px 20px 20px;
    border: 2px solid black;
    margin: 100px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    font: 'Rubik', sans-serif;
    transition-duration: 1s;
    
}

#titoloPopup{
	font: 'Rubik', sans-serif;
	padding: 5%;
    font-weight: 200;
    text-align: center;
    font-size: 150%
}

#aggProdMex{
	position: fixed;
	width:30%;
	top:50px;
  	right: 35%;
  	z-index: 1030;
  	transition-duration: 1s;
    transition:500ms cubic-bezier(0,0,0.58,1);
    -webkit-transition:500ms cubic-bezier(0,0,0.58,1);
    pointer-events: none;
}

.hidden{
    opacity:0;
}

.check p{
	color:green;
	font-size: 2em;
}

#formRetrieveRecensioni {
	margin-left:5%;

}

.modalPass {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1040; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: all 0.4s linear;
}

/* Modal Content */
.password-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 3%;
  border: 1px solid #888;
  width: 25%;
  left: 37%;
  top: 35%;
  position: absolute;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modificaPassword{
	width:60%; 
	padding:.5em; 
	background-color:#2d3b55; 
	color:white; 
	margin:5% 25%;
}

.modificaPasswordHidden{
	display: none;
}

.modificaPasswordVisuallyHidden{
	opacity: 0;
}

.savePw {
	background-color: #2d3b55;
	color:white;
	padding:2% 6%;
	width:30%;
	margin:0 35%;
}

#modificaPasswordForm input {
	width:80%;
	margin:1% 10%;
	padding:3px;
}

#modificaPasswordForm input:focus {
	background-color: #f3f3f3;
	border:2px solid #769ef5;
	border-radius:3px;
}

@media (max-width:1000px){
	.prodotto{
		width:29%;
	}
	
	.loginForm{
		width: 50%;
	}
	
	.catButton{
		width:30%;	
	}
	
	.divProdIntero{
		display:flex;
		flex-direction:column;
	}
	
	.password-modal-content{
		width:35%;
		left:32%;
	}
	
	.mainProduct{
		flex-wrap:wrap;
	}
	
	.listProdHome {
		width:30%;
	}
	
	.prodTitolo, .prodPrezzo, .prodLabel {
		font-size:1em;
	}
	
	.form-popup{
		width:60%;
		right:20%;
	}
}

@media(max-width:900px){		
	#quantità{
		width:55%;
	}
}

@media (max-width: 800px){
	.areaUtente {
  		margin: 1% 1%;
  		padding:2%;
	}
	
	.password-modal-content{
		width:40%;
		left:30%;
	}
	
	.mainProduct{
		flex-wrap:wrap;
	}
	
	.listProdHome {
		width:40%;
	}
	
	.controlliCarrello{
		font-size:0.9em;
	}
	
	.prodTitolo, .prodPrezzo, .prodLabel {
		font-size:0.9em;
	}
	
	.imgCart{
		width:55%;
	}
	
	.form-popup{
		width:70%;
		right:15%;
	}
}

@media (max-width:750px){
	.prodotto{
		width:46%;
		margin: 10px 5px;
	}
	
	.loginForm{
		width: 70%;
	}
	
	.catButton{
		width:50%;
		margin-left:50%;	
	}
	
	.caratTitolo{
		font-weight:bold; 
		font-size:1.5em;
	}

	.caratCateg, .caratPrezzo {
		font-size:1em;
	}

	.caratDesc {
		font-size:1em;
	}
	
	.imgProdotto{
		width: 55%;
	}
	
	.aggiungiCarrello{
		padding:0;
	}
	
	.labelRecensione{
		font-size:80%; 
		padding-top:1%;
	}
	
	.controlliCarrello{
		font-size:0.8em;
	}
	
	.imgCart{
		width:60%;
	}
}

@media (max-width:600px){
	.password-modal-content{
		width:50%;
		left:25%;
	}
	
	.controlliCarrello{
		font-size:0.7em;
	}
	
	.prodTitolo, .prodPrezzo, .prodLabel {
		font-size:0.8em;
	}
	
	.imgCart{
		width:70%;
	}
	
	#quantità{
		width:65%;
	}
	.form-popup{
		width:90%;
		right:5%;
	}
}

@media (max-width:500px){
	.loginForm{
		width: 90%;
	}
	
	.catButton{
		width:70%;
		margin-left:30%;	
	}
	
	.aggiungiCarrello{
		padding:0;
		width: 60%;
	}
	
	.recensioneLabelStars{
		display:flex;
		flex-direction:column;
	}
	
	.labelRecensione{
		margin-bottom:0;
	}
	
	#modificaPassword{
		width:80%;
	}
	
	.password-modal-content{
		width:60%;
		left:20%;
	}
	
	.mainProduct{
		flex-wrap:wrap;
	}
	
	.listProdHome {
		width:65%;
	}
	
	.controlliCarrello{
		font-size:0.8em;
		margin:10px auto;
		width:40%;
	}
	
	.imgCart{
		width:90%;
	}
	
	#carrello{
		display:flex;
		flex-direction:column;
		width:100%;
	}
	
	.listProdCarrello{
		width:85%;
	}
}

@media (max-width:453px){
	.password-modal-content{
		width:70%;
		left:15%;
	}
}

@media (max-width:353px){
	.prodotto{
		width:85%;
		margin: 10px 5px;
	}
	
	.catButton{
		width:75%;
		margin-left:25%;	
	}
	
	.aggiungiCarrello{
		padding:0;
		width: 80%;
	}
	
	#modificaPassword{
		width:90%;
	}
	
	.password-modal-content{
		width:80%;
		left:10%;
	}
	
	.svuotaCarrello{
		font-size:0.5em;
	}
}